@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}
